.episode{
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(1, 230, 230);
    color: black;

}

body{
    margin: 0;
    background-color: rgb(10, 93, 235);
    font-family: Arial, Helvetica, sans-serif;
}

.chararactres-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    width: 520px;

}

.character{
    border: 1px salmon;
    border-radius: 15px;
    margin-bottom: 10px;
    padding: 10px;
    overflow: hidden;
    display: flex;
    color: rgb(9, 1, 1);
}

.character-left{
    flex: 2;
}

.characer-alive{
    background-color: rgb(236, 220, 181);
    width: 520px;
}

.characer-dead{
    background-color: rgb(250, 80, 80);
    width: 520px;
}

.characer-unknown{
    background-color: gray;
    width: 520px;
}

.character-left img{
    border-radius: 15px;
}

.character-right{
    flex: 2;
    padding: 10px;
}